/* FOOTER */
footer {
	@include rem(margin-top,2rem);
	@include rem(padding-bottom,2.25rem);

	ul {
		border-top: 10px solid $main;
		width: 100%;
		list-style-type: none;
		@include rem(height,3.5rem);
		overflow: hidden;

		li {
			float: left;
			width: 25%;
			height: 100%;

			a {
				display: block;
				width: 100%;
				height: 100%;
				text-align: center;
				text-transform: uppercase;
				font-family: "futura-pt", "proxima-nova", sans-serif;
				font-weight: 700;
				color: $main;
				@include rem(font-size,0.7rem);
				@include rem(line-height,3.5rem);
				position: relative;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}