/* HEADER */
header {
	//@include rem(margin-top,1.25rem);
	@include rem(margin-bottom,1.5rem);
}

.header-box {
	@include rem(padding-top,12rem);
	@include rem(padding-bottom,12rem);
	overflow: hidden;

	h1 {
		position: relative;
		z-index: 2;
	}
}

.slash {
	background: image-url('slash.png');

	&:after {
		border-color: $blue;
	}
}

.painting {
	background: image-url('slashyellow.png'), image-url('painting.jpg') no-repeat;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	background-position: top left, center 25%;
	margin-top: 0;
	border-bottom: 8px solid yellow;

	&:before {
		display: block;
		border: 13px solid yellow;
		position: absolute;
		@include rem(width,29rem);
		@include rem(height,29rem);
		top: 50%;
		left: 50%;
		@include rem(margin-left,-14.5rem);
		@include rem(margin-top,-14.5rem);
		@include rotate(45deg);
		@include transform-origin(center center);
		@include box-sizing(border-box);
		background: image-url('painting.jpg') no-repeat;
		background-size: cover;
		background-position: center 25%;
		//background: rgba(black,0.5);
		content: "";
	}
	&:after {
		display: block;
		border: 13px solid yellow;
		@include rem(width,24rem);
		@include rem(height,24rem);
		@include rem(margin-top,-12rem);
		@include rem(margin-left,-12rem);
		@include border-radius(50%);
		@include box-sizing(border-box);
		position: absolute;
		background: image-url('painting.jpg') no-repeat;
		background-size: cover;
		background-position: center 25%;
		top: 50%;
		left: 50%;
		content: "";
	}
}