/* IMAGES */
img {
	display: block;
	width: 100%;
	height: auto;
	position: relative;

	&.aligncenter,
	&.alignleft,
	&.alignright {
		@include rem(padding,0.25rem);

		@include breakpoint(mobile) {
			@include rem(padding,0.25rem 0);
		}
	}
	&.alignleft,
	&.alignright {
		width: 50%;

		@include breakpoint(mobile) {
			width: 100%;
		}
	}
	&.alignleft {
		float: left;
	}
}

.video {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	@include rem(padding,0.25rem);

	@include breakpoint(mobile) {
		@include rem(padding,0.25rem 0);
	}
}