/* HEADER */
header {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 40%;
	z-index: 99;
	overflow: hidden;
	padding-top: 18%;

	background: image-url('painting.jpg') no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 45%;
	border-right: 15px solid yellow;
}

.title-box {
	h1 {
		position: relative;
		z-index: 5;
	}

	&:before {
		display: block;
		border: 13px solid yellow;
		position: absolute;
		@include rem(width,20rem);
		@include rem(height,20rem);
		top: 50%;
		left: 50%;
		@include rem(margin-left,-10rem);
		@include rem(margin-top,-10rem);
		@include rotate(45deg);
		@include transform-origin(center center);
		@include box-sizing(border-box);
		background: image-url('slashyellow.png'), image-url('painting.jpg') no-repeat;
		background-size: auto, cover;
		background-position: top left, center 25%;
		//background: rgba(black,0.5);
		content: "";
	}
	&:after {
		display: block;
		border: 13px solid yellow;
		@include rem(width,16rem);
		@include rem(height,16rem);
		@include rem(margin-top,-8rem);
		@include rem(margin-left,-8rem);
		@include border-radius(50%);
		@include box-sizing(border-box);
		position: absolute;
		background: image-url('painting.jpg') no-repeat;
		background-size: cover;
		background-position: center 25%;
		top: 50%;
		left: 50%;
		content: "";
	}

	&:hover {
		h1 {
			color: black;
			@include text-shadow(0 0 0);
		}

		&:after {
			background: yellow;
		}
	}
}

.navigation {
	display: block;
	width: 40%;
	margin: 0 auto;
	position: absolute;
	bottom: 10%;
	left: 30%;
	border: 4px solid yellow;

	li {
		text-align: center;
		border-bottom: 4px solid yellow;

		&:last-child {
			border-bottom: 0;
		}

		a {
			font-family: "brandon-grotesque", sans-serif;
			font-weight: 700;
			color: yellow;
			background: rgba(black,0.35);
			-webkit-font-smoothing: antialiased;
			text-transform: uppercase;
			display: block;
			@include rem(padding,0.875rem 0);
			@include transition(0.1s);

			&:hover {
				background: yellow;
				color: black;
			}
		}
	}
}