/* NAV BAR */
nav {
	@include rem(padding-top,1.25rem);
}

.page-links {
	list-style-type: none;
	float: right;

	li {
		display: block;
		float: left;
		@include rem(margin-left,4rem);

		a {
			color: lighten(black,25%);
			font-family: "brandon-grotesque", sans-serif;
			font-weight: 700;
			@include rem(font-size,1rem);
		}
	}
}